
<div class="jumbotron">
      <h1 class="display-4">Bienvenue sur The Eventbrite!</h1>
      <p class="lead">Tu trouveras ci-dessous la liste de tous les events, n'hésite pas à intéragir avec.<br/> Et si jamais tu veux créer ton propre potin <a href="<%=new_event_path%>" target = blank>clique ici</a></p>
</div>

    <h2> Les Evènements: </h2>


